<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Upload Document</title>
</head>
<body>
    <h3>hbs</h3>
    <a href="./index.html">Main page</a>
    <form action="/upload1.hbs" method="post">
    <h4>Ваш документ загружен для обработки!</h4>
    <span><b>название товара:</b></span>
    
            <ul>
                {{#each resname}}
                    <li class="liname"><textarea  name="req_name" class="name">{{this}}</textarea></li>
                {{/each}}
            </ul>
            
    {{!-- <div><span>{{item_name}}</span></div> --}}
    <div><span><b>Поисковые запросы:</b></span></div>
    <ul>
        {{#each resfound}}
            <li class="lifound"><textarea name="req_found" class="found">{{this}}</textarea></li>
        {{/each}}
    </ul>
    {{!-- <textarea name="req_found" id="req_found">{{req_found}}</textarea> --}}
    <div><span><b>Название группы:</b></span></div>
    {{!-- <input type="text" name="req_group" id="req_group" value=`${{req_group}}`/> --}}
    <ul>
        {{#each resgroup}}
            <li class="ligroup"><textarea name="req_group" class="group">{{this}}</textarea></li>
        {{/each}}
    </ul>
    
    
    <input type="submit" value="Отправить" />
</form>
    
<div><button id="found">изм поиск запрос</button></div>
    <form action="/upload1.hbs" method="get">
        <input type="submit" value="Download" />
    </form> 
<script src="js/script.js"></script>
</body>
</html>